
**/build/
**/build-int/

# Visual studio
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps